<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passth/rough">
<h:head>
</h:head> 
<ui:composition template="Template/Template.xhtml"> 
<body> 
	<ui:define name="title">
	Crear Personas
	</ui:define>
	<ui:define name="content">
	<h:form class="form-horizontal form-material" id = "form">
	<div class="form-group">
		<label class="col-md-12">ISBN:</label>
		<div class="col-md-12">
		<h:inputText id = "txtIsbn" a:placeholder="ISBN del libro" value="#{librosBean.isbn}" /></div>
	</div>
	<div class="form-group">
		<label class="col-md-12">Título:</label>
		<div class="col-md-12">
		<h:inputText id = "txtTitulo" a:placeholder="Título del libro" value="#{librosBean.titulo}" /></div>
	</div>
	<div class="form-group">
		<label class="col-md-12">Edición:</label>
		<div class="col-md-12">
		<h:inputText id = "txtEdicion" a:placeholder="Año de edición" value="#{librosBean.edicion}" /></div>
	</div>
	<div class="form-group">
		<label class="col-md-12">Editorial:</label>
		<div class="col-md-12">
		<h:inputText id = "txtEditorial" a:placeholder="Editorial del libro" value="#{librosBean.editorial}" /></div>
	</div>
	<div class="form-group">
		<label class="col-md-12">Nombre del capítulo:</label>
		<div class="col-md-12">
		<h:inputText id = "txtNombreCap" a:placeholder="Nombre del capítulo" value="#{librosBean.cap_nombre}" /></div>
	</div>
	<div class="form-group">
		<label class="col-md-12">Número de páginas:</label>
		<div class="col-md-12">
		<h:inputText id = "txtPaginas" a:placeholder="Número de páginas" value="#{librosBean.cap_paginas}" /></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-12">Autores</label>
	<div class="col-md-12">
		<h:selectOneMenu value = "#{librosBean.autor}" id = "autor"> 
			<f:selectItems value="#{librosBean.autores}"></f:selectItems>
		</h:selectOneMenu> 
	</div>
	</div>
	<div class="form-group">
	<div class="col-sm-12">
		<h:commandButton class="btn btn-custom btn-info btn-lg" action="#{librosBean.addCap()}" value="Añadir capítulo">
			<f:ajax render = "tablaCapitulos mensaje" execute = "autor txtNombreCap txtPaginas"/>
		</h:commandButton>
	</div>
	</div>
	<h:commandButton class="btn btn-custom btn-info btn-lg" action="#{librosBean.addLibro()}" value="Registrar libro">
	</h:commandButton>
	</h:form>
	<div class="row">
				<div class="col-sm-12">
					<div class="white-box">
						<h3 class="box-title" align="center">Capítulos para añadir</h3>
						<div align="center">
						    <h:outputLabel id = "mensaje" value="#{librosBean.mensaje}"/>
						</div>
						<div class="table-responsive">
							<h:dataTable value="#{librosBean.capitulos}" var="capitulo"
								id="tablaCapitulos" class="table">
								<h:column>
									<f:facet name="header">Nombre</f:facet>
									#{capitulo.cap_nombre}
								</h:column>
								<h:column>
									<f:facet name="header">Autor</f:facet>
									#{capitulo.cap_autor.aut_nombre}
								</h:column>
								<h:column>
								<f:facet name="header">Páginas</f:facet>
									#{capitulo.cap_paginas}
								</h:column>
							</h:dataTable>
						</div>
					</div>
				</div>
			</div>
	</ui:define>
</body>
</ui:composition>
</html>
