<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head> 
<ui:composition template="Template/Template.xhtml">
<body>
<ui:define name="title">
Listar libros
</ui:define>
<ui:define name="content">
	<div class="row">
				<div class="col-sm-12">
					<div class="white-box">
						<h3 class="box-title" align="center">Libros</h3>
						<div align="center">
						    <h:outputLabel id = "mensaje" value="#{contactosBean.mensaje}"/>
						</div>
						<div class="table-responsive">
						<h:dataTable value="#{librosBean.libros}" var="libro" class= "table" id = "tablaLibros">
							<h:column>
								<f:facet name="header">Título</f:facet>
								#{libro.lib_titulo}
							</h:column>
							<h:column>
								<f:facet name="header">ISBN</f:facet>
								#{libro.lib_isbn}
							</h:column>
							<h:column>
								<f:facet name="header">Edición</f:facet>
								#{libro.lib_edicion}
							</h:column>
							<h:column>
								<f:facet name="header">Editorial</f:facet>
								#{libro.lib_editorial}
							</h:column>
							</h:dataTable>
					</div>
					</div>
				</div>
			</div>
</ui:define>
</body>
</ui:composition>
</html>
